@{
    ViewData["Title"] = "Category"; //should be the specific category
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <!--
        כשנייצר את ה
        DB
        לעשות פה לולאה שרצה על כל המוצרים
        -->
    <div class="row">
        @for (int i = 1; i < 16; i++)//foreach....
        {
            <div class="col p-4">
                <div class="card text-center" style="width: 18rem;display:flex">
                    <div class="card-header">
                        Product Short Name
                    </div> <!--should be the specific Product name-->
                    <!--<img src="..." class="card-img-top" alt="..."><!--should be the specific Product img-->
                    <img src="~/css/dairy-products.png" />
                    <div class="card-body">
                        <p class="card-text">
                            product long name / + / some info
                        </p><!--should be the specific Product info-->
                        <b class="text-left" style="display: flex;">
                            Buy now for : 254.5 ₪
                        </b><!--should be the specific Product price-->
                        <br />
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Product">
                            To Product @i.ToString()
                        </a><!--should be the specific Product link-->
                    </div>
                </div>
            </div>
        }
    </div>
</div>