@{
    ViewData["Title"] = "Product";
}
<h1>@ViewData["Title"]</h1>


@*הועתק כבר לדף
    index of products
    לא לשנות שום דבר פה
    !!!!*@
@*הועתק כבר לדף
    index of products
    לא לשנות שום דבר פה
    !!!!*@
@*הועתק כבר לדף
    index of products
    לא לשנות שום דבר פה
    !!!!*@
@*הועתק כבר לדף
    index of products
    לא לשנות שום דבר פה
    !!!!*@
@*הועתק כבר לדף
    index of products
    לא לשנות שום דבר פה
    !!!!*@


<div class="container bootdey">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <div class="col-sm-6">
                    <h4 class="pro-d-title">
                        <a href="#" class="">
                            Leopard Shirt Dress
                        </a>
                    </h4>
                    <p> @Model.</p>
                    <div class="product_meta">
                        <span class="posted_in"> <strong>Category:</strong> <a href="#">Jackets</a>.</span>
                    </div>
                    <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old" style="text-decoration: line-through">$544</span>  <span class="pro-price"> $300.00</span></div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" placeholder="1" class="form-control quantity">
                    </div>
                    <p>
                        <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="pro-img-details">
                        <img src="https://via.placeholder.com/550x380/FFB6C1/000000" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>