@model ProjectInternetAppsTest.Models.User

@{
    ViewData["Title"] = "Sign Up";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="SignUp" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-4">
        <label asp-for="FirstName" class="control-label">First Name</label>
        <input asp-for="FirstName" class="form-control" placeholder="John" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="LastName" class="control-label">Last Name</label>
        <input asp-for="LastName" class="form-control" placeholder="Doe"/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Phone" class="control-label">Phone</label>
        <input asp-for="Phone" class="form-control" placeholder="054-123-4567"/>
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="UserName" class="control-label">User Name</label>
        <input asp-for="UserName" class="form-control" placeholder="JohnDoe1234"/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Password" class="control-label">Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="col-md-9">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" placeholder="johndoe@example.com"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Address" class="control-label">Address</label>
        <input asp-for="Address" class="form-control" placeholder="12 Main St."/>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <br />
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
