@{
    ViewData["Title"] = "Payment";
}
<h1>@ViewData["Title"]</h1>

<form class="row g-3">
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-9">
        <label for="CNumber" class="form-label">Credit Card Number</label>
        <input type="text" class="form-control" id="CNumber">
    </div>
    <div class="col-md-3">
        <label for="IDNumber" class="form-label">ID Number</label>
        <input type="text" class="form-control" id="IDNumber">
    </div>
    <br />
    <div class="col-12">
        <br />
        <button type="submit" class="btn btn-primary">Pay</button>
    </div>
</form>
