@model IEnumerable<ProjectInternetAppsTest.Models.Product>


@*
    לעריכה
    בינתיים רק עותק של
    index


    צריך גם להוסיף ל
    controller
    עם כל הפונקציונליות!!!!!!
*@






@{
    ViewData["Title"] = "My Cart"; //should be the specific category
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        @for (int i = 0; i < 15; i++)//foreach.... צריך להחליף לעגלת הקניות
        {
            <div class="col p-4">
                <div class="card text-center" style="width: 18rem;display:flex">
                    <div class="card-header">
                        Product Short Name
                    </div> <!--should be the specific Product name-->
                    <img src="..." class="card-img-top" alt="..."><!--should be the specific Product img-->
                    <div class="card-body">
                        <p class="card-text">
                            product long name / + / some info djn hb vhb jb vjbs bvhber hvb hbvurb vbh vbvhb ruk cbhfvb dkjbv chbv brv hcb kcvjhbv jhcb jhrbv cjvbckd vhc udv bch bdvjh bhcb hbv ch bvhbrd jv bdhbv cjhbv jchbd cjhb hbd b
                        </p><!--should be the specific Product info-->
                        <b class="text-left" style="display: flex;">
                            Price : 254.5 ₪
                        </b><!--should be the specific Product price-->
                        <br />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-12 text-center">
        <a class="btn btn-primary col-md-4" asp-controller="Home" asp-action="Pay">
            Payment
        </a><!--should be the specific Product link-->
    </div>
</div>